USE [PruebaTecnica]
GO
/****** Object:  Table [dbo].[Auto]    Script Date: 9/3/2020 21:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto](
	[IdAuto] [int] NULL,
	[Descripcion] [varchar](50) NULL,
	[IdMarca] [int] NULL,
	[Sku] [int] NULL,
	[Cantidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 9/3/2020 21:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[IdMarca] [int] NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auto] ADD  CONSTRAINT [DF_Auto_Cantidad]  DEFAULT ((0)) FOR [Cantidad]
GO
INSERT [dbo].[Auto] ([IdAuto], [Descripcion], [IdMarca], [Sku]) VALUES (1, N'Sedan', 1, 12345)
INSERT [dbo].[Auto] ([IdAuto], [Descripcion], [IdMarca], [Sku]) VALUES (2, N'SUV', 4, 23456)
INSERT [dbo].[Auto] ([IdAuto], [Descripcion], [IdMarca], [Sku]) VALUES (3, N'Pickup', 3, 34567)
INSERT [dbo].[Marca] ([IdMarca], [Descripcion]) VALUES (1, N'Audi')
INSERT [dbo].[Marca] ([IdMarca], [Descripcion]) VALUES (2, N'Mercedes Benz')
INSERT [dbo].[Marca] ([IdMarca], [Descripcion]) VALUES (3, N'Ford')
/****** Object:  StoredProcedure [dbo].[usp_ConsultaAutos]    Script Date: 9/3/2020 21:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ConsultaAutos]
AS
BEGIN

	SET NOCOUNT ON;

    
	SELECT a.IdAuto, 
		   a.Descripcion,
		   a.sku,
		   b.IdMarca, 
		   b.Descripcion,
		   a.Cantidad
	FROM [Auto] a, Marca b WHERE a.IdMarca = b.IdMarca
END
GO
